@media (max-width: 1200px) {
    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    /* ----------------- */

    .program__top {
        flex-direction: column;
        align-items: stretch;
    }

    .tab-controls {
        flex-wrap: wrap;
    }

    /* ------------ */

    .footer__inner {
        justify-content: space-between;
        grid-template: repeat(2, auto) / repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .about__img {
        grid-row: auto;
    }

    .about__body {
        align-self: center;
    }

    .about__grid {
        grid-column: 1/-1;
    }

    /* ------------ */

    .accordion-list__control {
        padding: 25px 30px;
        font-size: 35px;
    }

    .accordion-content {
        padding: 0 30px 40px;
        display: flex;
        gap: 30px;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--accent-bg);
        font-size: 24px;
        padding: 26vh 15px 30px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    /* ------------ */

    .gallery__inner {
        grid-template: none;
    }

    .gallery__info {
        max-width: none;
    }

    .gallery__img {
        display: none;
    }






    /* ------------ */

    .footer__inner {
        justify-content: center;
        grid-template: none;
        text-align: center;
        gap: 0;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__col:nth-child(2) {
        margin-bottom: 40px;
    }

    .footer__col:nth-child(3) {
        margin-bottom: 10px;
    }

    /* ----------- */

    .program__action {
        max-width: none;
        grid-template: repeat(3, auto) / minmax(280px, 1fr) 1fr;
    }

    .program__img {
        display: none;
    }

}

@media (max-width: 800px) {
    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin: 0 0 30px;
    }

    /* ----------------------------------------------- */

    .about__inner {
        grid-template: none;
    }

    .about__img {
        max-width: 500px;
        justify-self: center;
    }

    .about__body {
        text-align: center;
    }

    .about__grid {
        grid-template: none;
    }

    /* ----------------------------- */

    .tab-controls {
        gap: 10px;
    }

    .tab-controls__link {
        padding: 6px 20px;
    }

    .accordion-content {
        flex-direction: column;
    }

    .accordion-content__col:first-child {
        max-width: none;
    }

    .accordion-content__text {
        max-width: none;
    }
}

@media (max-width: 600px) {

    .main__about {
        padding: 60px 0 80px;
    }

    .main__program,
    .main__gallery {
        padding: 0 0 80px;
    }

    .title {
        font-size: 12vw;
    }

    /* ------------------------------------ */

    .header__hero {
        padding-bottom: 80px;
    }


    /* ----------------------------------------------- */


    .about__img-control {
        bottom: 0;
        left: 0;
        right: 0;
        max-width: none;
        border-radius: 0;
        padding: 10px 15px;
    }

    .about__grid {
        gap: 15px;
    }

    .about__grid-item {
        padding: 10px 15px;
    }

    /* ----------- */

    .program__title {
        text-align: center;
    }

    .program__top {
        text-align: center;
        margin-bottom: 20px;
    }

    .program__action {
        grid-template: repeat(3, auto) / auto auto;
        gap: 15px;
    }

    .program__discount {
        grid-row: auto;
        grid-column: 1/-1;
        justify-self: center;
    }

    .tab-controls {
        justify-content: center;
    }

    .accordion-list__item {
        margin-bottom: 10px;
    }

    .accordion-list__control {
        padding: 17px 30px;
        font-size: 28px;
    }

    .accordion-list__control-icon {
        width: 26px;
        height: 26px;
    }

    .accordion-list__control-icon svg {
        width: 8px;
    }

    /* --------------------- */

    .gallery__content {
        flex-direction: column;
    }

    .gallery__inner {
        margin-bottom: 20px;
    }

}

@media (max-width: 450px) {
    .modal__img {
        margin-top: -45px;
        width: 50%;
    }

    .modal__title {
        font-size: 35px;
    }

    .modal__window {
        padding: 0px 15px 45px;
    }

    /* ------------ */

    .program__action {
        grid-template: none;
    }

    .program__price {
        text-align: center;
    }

    .accordion-list__control {
        padding: 17px 15px;
    }

    .accordion-content {
        padding: 0 15px 30px;
    }

    .accordion-content__item {
        margin-bottom: 10px;
    }
}