@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";


@import "media.css";


/* ======================================================================= */

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: repeat(2, auto);
    gap: 40px 53px;
}

.about__img {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    grid-row: 1/-1;
}

.about__img>img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

.about__img-control {
    position: absolute;
    position: absolute;
    bottom: 4.7%;
    left: 5%;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    text-align: left;
    background: rgba(149, 123, 151, 0.9);
    border-radius: 20px;
    padding: 15px 20px;
    color: var(--general-bg)
}

.about__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    background: var(--general-bg);
    border-radius: 9999px;
    position: relative;
}

.about__img-button::before {
    content: '';
    position: absolute;
    border: 1px solid #ceaad0;
    border-radius: 50%;
    inset: 5px;

    opacity: 0;
    transition: var(--transition);
}

.about__img-button:hover:before {
    opacity: 1;
}

.about__heading {
    margin-bottom: 30px;
}

.about__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.about__grid-item {
    background: var(--accent-bg);
    border-radius: 20px;
    padding: 29px 24px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.about__grid-img {
    border: 1px solid var(--general-text);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__grid-text {}

/* ======================================================================= */

.program__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 30px 15px;
}

.program__title {
    margin-bottom: 20px;
}

.program__tab-content {
    margin-bottom: 40px;
}

.program__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.program__action {
    display: grid;
    grid-template: repeat(3, auto) / 1.65fr 1fr;
    gap: 40px;
    max-width: 501px;
    width: 100%;
    flex-shrink: 0;
}

.program__discount {
    font-size: 20px;
    background: var(--accent-bg);
    border-radius: var(--border-raduis);
    padding: 40px;
    grid-row: 1 / 3;
}

.program__discount-value {
    display: block;
    font-family: "Gabriola";
    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-color);
    /* margin: 0 0 7px 13%; */
    transform-origin: 0 0;
    margin: 0 0 7px 13%;

    animation: discount-grow .8s linear infinite alternate;
}

@keyframes discount-grow {
    0% {
        transform: scale(1);
        color: var(--accent-color);
    }

    100% {
        transform: translateX(3%) scale(1.1);
        color: #FF9138;
    }
}

.program__discount span {
    font-size: 16px;
    margin-left: 35%;
}

.program__price-text {
    line-height: 1.6;
    text-transform: uppercase;
    color: #ceaad0;
    margin-bottom: 5px;
}

.program__price-value {
    font-family: "Gabriola";
    font-size: 32px;
    line-height: 0.9;
}

.program__price-value--big {
    font-size: 50px;
    color: var(--accent-text);
}

.program__button {
    grid-column: 1/-1
}

.program__img img {
    width: 100%;
}


.tab-controls {
    display: flex;
    gap: 26px;
}


.tab-controls__link {
    display: block;
    border-radius: 100px;
    background-color: var(--general-bg);
    padding: 14px 30px;
    box-shadow: 0px 4px 20px rgba(206, 195, 185, 0.3);
    white-space: nowrap;

    transition: var(--transition);
}

.tab-controls__link:hover {
    background-color: #ffe0cb;
}

.tab-controls__link--active {
    background-color: #ffe0cb;
    box-shadow: 0px 4px 20px rgba(206, 195, 185, 0);
}

.tab-content {
    display: none;

}

.tab-content--show {
    display: block;
}

.accordion-list {}

.accordion-list__item {
    margin-bottom: 30px;
    border-radius: var(--border-raduis);
    background-color: var(--general-bg);
    border: 1px solid var(--accent-color);
}

.accordion-list__item:last-child {
    margin-bottom: 0;
}

.accordion-list__control {
    padding: 41px 30px;
    width: 100%;
    background: transparent;
    text-align: left;

    display: flex;
    justify-content: space-between;
    gap: 15px;

    font-family: 'Gabriola';
    font-size: 42px;
    line-height: .9;
    color: var(--accent-text);
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 20px;
}

.accordion-list__control-title {}

.accordion-list__control-icon {
    border: 1.5px solid var(--accent-color);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--transition);
}

.accordion-list__control-icon svg {
    margin-left: 2px;
}

.accordion-list__control-icon path {
    transition: var(--transition);
}

.accordion-list__control:hover .accordion-list__control-icon {
    transform: rotate(90deg);
    background: var(--accent-color);
}

.accordion-list__control:hover .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__item--opened .accordion-list__control-icon {
    transform: rotate(90deg);
    background: var(--accent-color);
}

.accordion-list__item--opened .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}


.accordion-content {
    padding: 0 30px 40px;
    display: flex;
    gap: 80px;
}

.accordion-content__col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content__title {
    color: #ceaad0;
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.accordion-content__list {}

.accordion-content__item {
    margin-bottom: 20px;
    display: flex;
}

.accordion-content__item:last-child {
    margin-bottom: 0;
}

.accordion-content__icon {
    width: 24px;
    height: 24px;
    border: 1px solid #ceaad0;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.accordion-content__text {
    max-width: 274px;
}


/* =============================== */


.gallery {
}
.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 40px;
}
.gallery__img {
justify-self: center;
align-self: center;
}
.gallery__img img {
    max-width: 100%;
}
.gallery__content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 30px 15px;
}
.gallery__info {
    max-width: 380px;
}
.gallery__title {
    margin-bottom: 20px;
}
.title {
}
.gallery__text {
}
.gallery__nav {
    display: flex;
    align-items: center;
    gap: 98px;
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: .9;
    position: relative;
}


.gallery__prev,
.gallery__next {
    background: transparent;
    cursor: pointer;

    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
border: 1.5px solid #E1d9E1;
cursor: auto;
}
.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
fill: #E1d9E1;
}
.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
background: transparent;
}
.swiper-button-disabled.gallery__prev:hover path,
.swiper-button-disabled.gallery__next:hover path {
fill: #E1d9E1;
}


.gallery__prev path,
.gallery__next path {
transition: var(--transition);

}
.gallery__prev:hover,
.gallery__next:hover {
    background: var(--accent-color);

}
.gallery__prev:hover path ,
.gallery__next:hover path {
    fill: var(--general-bg);

}
.gallery__prev {
}
.gallery__next {
}
.gallery__pagination {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    width: auto;
    transform: translate(-50%, -50%);
}
.gallery__next {
}
.gallery__slider {
}
.swiper {
}
.gallery__wrapper {
}
.gallery__slide {
    border-radius: var(--border-raduis);
    overflow: hidden;
}
.gallery__slide img {
    width: 100%;
}